.App {
  text-align: center;
}

body{
  padding-top:65px;
}

.displayButton{
  display: none;
}

nav{
  background-color: #ffc107;
  
}

.navbar-right{
  display:flex;
  flex-direction: row;
}

.navbar-default{
 overflow: hidden;
 position: fixed;
 top: 0;
 width:100%; 
}
.navbar-brand{
  color: #f9f9f9;
}
.nav-link{
  color: #f9f9f9;
}
img{
  height: 250px;
  padding-top: 30px;
 padding-bottom: 20px;
}

.beerItem{
  width: 250px;
  height: 370px; 
  margin-left: 10px;
  margin-top: 10px; 
}

.tagLine{
  margin-top: 7px;
  margin-bottom: 10px;
}

.btn-wrap-text {
    white-space: normal !important;
    word-wrap: break-word !important;
}

div.rowDetail{
   margin-top: 100px;
}

div.col-md-4>img{
  height: 500px;
}
.favItem{
  width: 250px;
  height: 440px; 
  margin-left: 10px;
  margin-top: 10px; 
}
#removeButton{
  bottom: 10px;
  position: absolute;
  margin-left: 55px;
  
}

