.App {
  text-align: center;
}

.displayButton{
  display: none
}
.navbar-right{
  display:flex;
  flex-direction: row
}
.navbar-default{
 overflow: hidden;
 position: fixed;
 top: 0;
 width:100%;
}
img{
  
  height: 250px;
  padding-top: 30px;
 padding-bottom: 20px;
}

#beerItem{
  width: 250px;
  height: 370px;
  
  margin-left: 10px;
  margin-top: 10px;
  
}
#favBeer{
  width: 250px;
  height: 370px;
  
  margin-left: 10px;
  margin-top: 10px;
}
.tagLine{
  margin-top: 7px;
  margin-bottom: 10px;
}
.btn-wrap-text {
    white-space: normal !important;
    word-wrap: break-word !important;
}
div.rowDetail{
   margin-top: 100px;
}
div.col-md-4>img{
  height: 500px;
}
